body {
  margin: 0;
  background-color: black;
}
img {
  vertical-align: bottom;
  float:left;
  /*min-width:360px;*/
  width: 33.33%;;
}

@media (max-width:800px){
  img {
    width: 50%;;
  }
}


@media (max-width:400px){
  img {
    width: 100%;;
  }
}
