body {
  margin: 0;
  padding: 0 200px;
  background-color: lightgrey;
}

.gallery {
  display: flex;
  overflow-x: hidden;
}
.panel {
  min-width: 300px;
  min-height: 150px;
}

.panel1 {
  background-color: yellow;
}
.panel2 {
  background-color: green;
}
.panel3 {
  background-color: blue;
}
.panel4 {
  background-color: purple;
}
