html {
  box-sizing: border-box;
  background:#000;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #fff;
  color:white;
  text-align: center;
  align-items:center;
  transition:
    font-size 0.7s cubic-bezier(0.6,-0.2, 0.7,-0.1),
    flex 0.7s cubic-bezier(0.6,-0.2, 0.7,-0.1),
    opacity 0.5s,
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0.85;
}


.panel1 { background-image: url('images/spring.jpg'); }
.panel2 { background-image: url('images/summer.jpg'); }
.panel3 { background-image: url('images/autumn.jpg'); }
.panel4 { background-image: url('images/winter.jpg'); }

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Moves childs off screen */
.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 5px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size:40px;
  opacity: 1;
}
